# jwt token
JWT_SECRET= 
JWT_EXPIRES=
BCRYPT_SALT_ROUNDS=

# database
DB_DIALECT=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=

# cloudinary
CLOUD_NAME=
API_KEY=
API_SECRET=
CLOUDINARY_URL=

# vnpay
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
VNPAY_URL=
VNPAY_RETURN_URL=
VNPAY_API_URL=
VNPAY_VERSION=
VNPAY_COMMAND=
VNPAY_LOCALE=
VNPAY_CURR_CODE=
VNPAY_ORDER_TYPE=

# api gpt key
GEMINI_API_KEY=

# secret key
SECRET_KEY=
